/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transition: all 0.3s ease-out 0s;
	.container {
    /** Large devices (desktops, 992px and up) **/
    @media (min-width: 992px) {
      max-width: 1500px;
    }
	}
}

.navbar {
	padding: 0;
	position: relative;
	transition: all 0.3s ease-out 0s;
	padding: 17px 0;

	@media only screen and (max-width: 991px) {
		padding: 15px 0;
	}

	@media (max-width: 767px) {
		padding: 13px 0;
	}
	@media (max-width: 482px) {
		padding: 10px 0;
	}

	.navbar-brand {
		padding: 0;
		text-decoration: none;
		svg {
      fill: var(--title-color);
			height: 29px;
			transition: all 0.4s ease-in-out;
			@media only screen and (max-width: 767px) {
				height: 23px;
			}
			@media only screen and (max-width: 482px) {
				height: 23px;
			}
		}
	}

	.navbar-nav {
		/** Large devices (desktops, 992px and up) **/
		@media (min-width: 992px) {
			align-items: center;
		}

		.nav-item {
			position: relative;
			&:not(:last-child) {
				@media (min-width: 992px) {
					margin-right: 36px;
					@media only screen and (max-width: 1199px) {
						margin-right: 28px;
					}
				}
			}
			@media only screen and (max-width: 991px) {
				margin-left: 16px;
			}
			a {
				text-decoration: none;
				font-size: 14px;
				color: var(--title-color);
				transition: all 0.3s ease-out 0s;
				padding: 10px 0;
				position: relative;
				font-weight: 600;
				@media only screen and (max-width: 991px) {
          color: var(--title-color);
				}
				&:hover,
				&.active {
					color: var(--primary-color);
				}

				@media only screen and (max-width: 991px) {
					display: inline-block;
					margin: 4px 0px;
					padding: 6px 0;
				}
				@media only screen and (max-width: 767px) {
					display: inline-block;
					padding: 6px 0;
				}
			}
		}
		&.btn-nav {
			.nav-item {
				margin-left: 36px;
				@media only screen and (max-width: 991px) {
					margin-left: 16px;
				}
				a {
					display: inline-flex;
					font-size: 15px;
					font-weight: 500;
					color: var(--title-color);
					background: linear-gradient(
						94.26deg,
						#121726 -35.67%,
						rgba(23, 30, 46, 0.71) 121.76%
					);
					padding: 6px 24px;
					border: 1px solid #95af37;
					border-radius: 10px;
					&:hover {
						background-color: var(--primary-color);
						color: var(--title-color);
					}
				}
			}
		}
	}

	.navbar-collapse {
		@media only screen and (max-width: 991px) {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background-color: var(--background-color);
			z-index: 9;
			box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
			padding: 15px 12px 20px 12px;
		}

		@media only screen and (max-width: 767px) {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			z-index: 9;
			box-shadow: 0 15px 20px 0 rgba(43, 56, 109, 0.1);
		}
	}

	.navbar-toggler {
		padding: 0;

		&:focus {
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		@media only screen and (max-width: 991px) {
			position: absolute;
			right: 40px;
		}

		.toggler-icon {
			width: 24px;
			height: 2px;
			background-color: var(--text-color);
			display: block;
			margin: 5px 0;
			position: relative;
			-webkit-transition: all 0.3s ease-out 0s;
			-o-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
		}

		&.active .toggler-icon {
			&:nth-of-type(1) {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				top: 7px;
			}

			&:nth-of-type(2) {
				opacity: 0;
			}

			&:nth-of-type(3) {
				-webkit-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				transform: rotate(135deg);
				top: -7px;
			}
		}
	}

	.dropdown-menu {
		background: var(--background-color);
		padding: 18px 0px;
		border-radius: 10px;
		@media only screen and (max-width: 991px) {
			max-width: 160px;
		}
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		a {
			padding: 4px 13px !important;
			text-decoration: none;
			color: var(--text-color);
			font-size: 13px !important;
			font-weight: 400;
			transition: all 0.3s ease-in;
			display: flex;
			align-items: center;
			img {
				height: 15px;
				margin-right: 12px;
				min-width: 23px;
			}
			&:hover,
			&:focus {
				background-color: #000;
				color: var(--primary-color);
			}
		}
	}
}

.sticky {
	position: fixed;
	z-index: 99;
	background-color: var(--background-color);
	transition: all 0.3s ease-out 0s;
	box-shadow: 0 0.1625rem 0.25rem 0 rgb(36 39 46 / 15%);
	.navbar {
		padding: 10px 0;

		@media only screen and (max-width: 991px) {
			padding: 9px 0px;
		}

		@media (max-width: 767px) {
			padding: 8px 0;
		}

		.navbar-brand {
			padding: 0;
			text-decoration: none;
			img {
				height: 25px;
				transition: all 0.4s ease-in-out;
				@media only screen and (max-width: 767px) {
					height: 23px;
				}
				@media only screen and (max-width: 482px) {
					height: 20px;
				}
			}
		}
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

.animate {
	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes slideIn {
	0% {
		transform: translateY(1.1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1.1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}

	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}


[data-theme="light"] {

}
